#{extends 'main.html' /}
#{set title:'La caffetteria SODEXO' /}
<div class="navbar  navbar-inverse">
   <div class="navbar-inner">
      <div class="container"> 
         
         <!-- .btn-navbar is used as the toggle for collapsed navbar content --> 
         <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> 
         
         <!-- Be sure to leave the brand out there if you want it shown --> 
         <!-- Everything you want hidden at 940px or less, place within here -->
         <div class="nav-collapse collapse">
            <ul class="nav">
               <li class="divider-vertical"></li>
<li class="logo"><a href="@{Application.sandwich()}" id="lienLogo"><img src="/public/images/logo.png" id="logo"></a></li>               <li><a href="@{Application.sandwich()}">Les Sandwichs</a></li>
               <li><a href="@{Application.commandes()}">Mes commandes</a></li>
               <li class="active"><a href="@{Application.cafeteria()}">La Cafétéria</a></li>
            </ul>
            <ul class="nav pull-right">
               <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Compte de ${userid} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                     <li class="socials"><!-- Place this tag where you want the +1 button to render --> 
                        #{a @Application.deconnect()}Deconnexion#{/a}
                        <g:plusone annotation="inline" width="150"></g:plusone>
                     </li>
                     <li class="socials"><!-- Place this tag where you want the +1 button to render --> 
                        #{a @Application.sandwich()}Mon profil#{/a}
                        <g:plusone annotation="inline" width="150"></g:plusone>
                     </li>
                  </ul>
               </li>
               <li class="dropdown panier"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/public/images/glyphicons_202_shopping_cart.png" id="img-cart"/><b class="caret"></b></a>
                  <ul class="sub-panier dropdown-menu"" >
                     #{if panier}
                     <table class="table table-hover">
                        <caption>
                        ...
                        </caption>
                        <thead>
                           <tr>
                              <th>Nom</th>
                              <th>Quantité</th>
                              <th>Prix unitaire</th>
                              <th>Date</th>
                              <th>Supprimer</th>
                           </tr>
                        </thead>
                        <tfoot>
                           <!-- Pied de tableau -->
                           <tr>
                              <th>Total</th>
                              <th>${totalQuantity}</th>
                              <th>${totalPrice} €</th>
                              <th> </th>
                              <th> </th>
                           </tr>
                        </tfoot>
                        <tbody>
                        
                        #{list panier, as:'sandwich'}
                        <tr class="info">
                           <td>${sandwich.reservedSandwich.name}</td>
                           <td>${sandwich.quantity}</td>
                           <td>${sandwich.reservedSandwich.prix} €</td>
                           <td>${sandwich.date} </td>
                           <td id="icon-delete">#{a @Application.deleteSandwichFromCart(sandwich.reservedSandwich.name, 0)}<img src="/public/images/glyphicons_remove.png"/>#{/a}</td>
                        </tr>
                        #{/list}
                           </tbody>
                        
                     </table>
                     <a href="#myModal" data-toggle="modal">
                     <button class="btn btn-primary pull-right" type="button" data-loading-text="Commande en cours...">Confirmer la commande</button>
                     </a> #{/if}
                     #{else}
                     <table class="table table-hover">
                        <caption>
                        ...
                        </caption>
                        <thead>
                           <tr>
                              <th>Nom</th>
                              <th>Quantité</th>
                              <th>Prix unitaire</th>
                              <th>Date</th>
                              <th>Supprimer</th>
                           </tr>
                        </thead>
                        <tfoot>
                           <!-- Pied de tableau -->
                           <tr>
                              <th>Total</th>
                              <th>0</th>
                              <th>0 €</th>
                              <th> </th>
                              <th> </th>
                           </tr>
                        </tfoot>
                        <tbody>
                           <tr class="info" >
                              <td colspan="5" id="empty-cart">Pas de commandes</td>
                           </tr>
                        </tbody>
                     </table>
                     #{/else}
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>

<!-- Le modal de confirmation du panier -->

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Confirmation de commande</h3>
   </div>
   <div class="modal-body">
      <p>Vous avez commandé ${totalQuantity} sandwich(s) et vous devrez payer à la cafétéria la somme de : ${totalPrice} €.</p>
      <p>Veuillez valider la commande ou cliquer sur Annuler</p>
   </div>
   <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
      <a href="@{Application.cartValidationFromCommande()}" class="btn btn-primary">Commander</a> </div>
</div>

<!-- informations sur la sodexo -->
<div class="container-fluid">
   <div class="row-fluid">
      <div class="span4 offset1 well">
         <h2> Horaires d'ouverture </h2>
         du lundi au vendredi de 7h30 à 17h </div>
      <div class="span3 well">
         <h2> Nos boissons </h2>
         <a href="/public/images/SODEXOBoissons.pdf" title="Pdf"> Lien vers le catalogue (.pdf)</a> </div>
      <div class="span4 well">
         <h2> Contact </h2>
         <h3> Téléphone</h3>
         <!-- le téléphone de la SODEXO -->
         <h3> Adresse</h3>
         4 Rue Alfred Kastler </br>
         44300 Nantes </br>
         <iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=Mines+de+Nantes,+Rue+Alfred+Kastler,+Nantes&amp;aq=0&amp;oq=mines+de+nantes&amp;sll=47.348,-1.741412&amp;sspn=1.55202,3.56781&amp;ie=UTF8&amp;hq=Mines+de+Nantes,+Rue+Alfred+Kastler,+Nantes&amp;t=m&amp;ll=47.281733,-1.520791&amp;spn=0.004367,0.006437&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
         <br />
         <small><a href="https://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=Mines+de+Nantes,+Rue+Alfred+Kastler,+Nantes&amp;aq=0&amp;oq=mines+de+nantes&amp;sll=47.348,-1.741412&amp;sspn=1.55202,3.56781&amp;ie=UTF8&amp;hq=Mines+de+Nantes,+Rue+Alfred+Kastler,+Nantes&amp;t=m&amp;ll=47.281733,-1.520791&amp;spn=0.004367,0.006437&amp;z=16&amp;iwloc=A" style="color:#0000FF;text-align:left">Agrandir le plan</a></small> </div>
      <div class="span12 well"> Retrouvez nous sur <a href="http://fr.sodexo.com/">notre site officiel</a> </div>
   </div>
</div>
